<section>
  <header>
    Task manager: <strong>{{dateService.date | async | format:'DD.MM.YYYY'}}</strong>
  </header>
  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i + 1}}.</strong>
          {{task.task}}
        </span>
        <button class="btn btn-outline-danger" (click)="remove(task)">Remove</button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p>No tasks yet</p>
    </ng-template>
  </main>
  <footer>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        <input placeholder="new task" type="text" class="form-control" formControlName="task">
      </label>
      <button [disabled]="form.invalid" type="submit">Add tusk</button>
    </form>
  </footer>
</section>
